# Local Postgres
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/commitglow"

# BetterAuth configuration
BETTER_AUTH_SECRET="replace-with-a-strong-random-secret"
BETTER_AUTH_URL="http://localhost:3000"

# Google credentials
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Github credentials
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# Nextjs Public
NEXT_PUBLIC_GITHUB_REPO=carbonelldev/commitglow